@font-face {
    font-family: "Lexend-Bold";
    src: url("../../fonts/Lexend-Bold.ttf");
}

@font-face {
    font-family: "Lexend-Medium";
    src: url("../../fonts/Lexend-Medium.ttf");
}

@font-face {
    font-family: "Lexend-Regular";
    src: url("../../fonts/Lexend-Regular.ttf");
}

@font-face {
    font-family: "Lexend-Light";
    src: url("../../fonts/Lexend-Light.ttf");
}

@font-face {
    font-family: "Lexend-SemiBold";
    src: url("../../fonts/Lexend-SemiBold.ttf");
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("../../fonts/Raleway-Thin.ttf");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../../fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../../fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../../fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../../fonts/Raleway-SemiBold.ttf");
}