@import "../../../../../../resources/sass/init";
// @import "../../../../../Home/Resources/sass/web/default.scss";
#banner_title_contents_section {
    .banner-title-area-col {
        .banner-title-area {
            span.subtitle {
                color: #797979;
                font-family: "Raleway-Bold";
                font-size: 18px;
            }
            .h-title {
                color: #000;
                font-size: 52px;
                font-family: "Lexend-SemiBold";
                span {
                    background: -webkit-linear-gradient(right, #004e8f 0%, #3889be 50%, #72c6ef 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    .banner-description-area-col {
        padding-left: 50px;
        img {
            max-width: 380px;
            display: table;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            right: 0;
        }
    }
}

// Learning-Online-Course-Section-End---
// Counter-Numbers-Section-Start---
#training_numbers_section {
    padding: 40px 0px;
    margin: 40px 0px;
    background-color: #0f75bc;
    position: relative;
    .number-left {
        position: absolute;
        width: 20%;
        right: 0;
        bottom: 0;
    }
    .number-right {
        position: absolute;
        left: 0;
        top: 0;
        width: 17%;
    }
    .training-numbers-area {
        .training-numbers-title {
            margin-bottom: 30px;
            h3 {
                color: #fff;
                font-size: 28px;
            }
            p {
                color: #fff;
            }
        }
        .training-numbers-area {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .number-content-box {
                padding: 20px 30px;
                text-align: center;
                .count-number {
                    font-size: 45px;
                    font-family: "Lexend-SemiBold";
                    color: #fff;
                }
                p {
                    color: #fff;
                }
            }
            .two-border {
                border-right: 1px solid #e7e7e731;
                border-left: 1px solid #e7e7e731;
            }
            .right-border {
                border-right: 1px solid #e7e7e731;
            }
        }
    }
}

.video-list {
    img.youtube-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
    }
    iframe {
        width: 100%;
        border-radius: 15px;
        border: 1px solid #edebeb;
    }
}

h2 {
    font-family: "Raleway-SemiBold";
    font-size: 36px;
}

.ecosystem-section {
    background-color: #F0F6FC;
    h3 {
        display: list-item;
    }
}

.tech-learning-section {
    .visit-channel {
        background: #0F75BC;
        display: table;
        color: #fff;
    }
}

.wscube-section {
    background: #F0F6FC;
    .wsCube-list {
        img {
            border: 10px solid #fff;
        }
    }
}

.position-btn {
    background: #0F75BC;
    color: #fff;
    &:hover {
        background: #0b6cb1;
        color: #fff;
    }
}

.milestone-container {
    width: 1000px;
    margin: auto;
    height: 96%;
    .milestone {
        width: 430px;
        margin: auto;
        .svg-div {
            position: absolute;
            left: -17px;
            top: 50%;
            transform: translateY(-50%);
        }
        .line-dot {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -80px;
        }
    }
    .milestone1 {
        float: right;
    }
    .milestone2 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone3 {
        float: right;
        margin-top: 200px;
    }
    .milestone4 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone5 {
        float: right;
        margin-top: 200px;
    }
    .milestone6 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone7 {
        float: right;
        margin-top: 200px;
    }
    .milestone8 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone9 {
        float: right;
        margin-top: 200px;
    }
    .milestone10 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone11 {
        float: right;
        margin-top: 200px;
    }
    .milestone12 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone13 {
        float: right;
        margin-top: 200px;
    }
    .milestone14 {
        float: left;
        margin-top: 200px;
        .svg-div {
            right: -17px;
            left: auto;
        }
        svg {
            transform: rotate(180deg);
        }
        .line-dot {
            right: -80px;
            left: auto;
        }
    }
    .milestone15 {
        float: right;
        margin-top: 200px;
    }
    .line-contr {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 3px;
        bottom: 0;
        margin: auto;
        background: #EFEFEF;
    }
}

@media (max-width: 1199px) {
    .milestone-container {
        width: auto;
        .line-contr {
            display: none;
        }
        .milestone {
            float: none !important;
            margin-top: 35px !important;
            width: 100%;
            .line-dot {
                display: none;
            }
            .svg-div {
                left: 0;
                top: auto;
                bottom: -20px;
                right: 0;
                transform: rotate(-90deg) !important;
            }
        }
        .milestone2,
        .milestone4,
        .milestone6,
        .milestone8,
        .milestone10,
        .milestone12 {
            .svg-div {
                transform: rotate(90deg) !important;
            }
        }
    }
}

@media (max-width: 991px) {
    #banner_title_contents_section {
        .banner-title-area-col {
            .banner-title-area {
                .h-title {
                    font-size: 32px;
                }
            }
        }
    }
    h2 {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    #learning_add_section {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #training_numbers_section {
        padding: 30px 0px;
        padding-bottom: 0;
        .training-numbers-area {
            .training-numbers-area {
                grid-template-columns: repeat(2, 1fr);
                .number-content-box {
                    .count-number {
                        font-size: 24px;
                    }
                }
                .two-border {
                    border: none;
                }
                .right-border {
                    border: none;
                }
            }
        }
    }
    #banner_title_contents_section {
        .banner-description-area-col {
            img {
                display: inline;
                position: initial;
                transform: none;
                text-align: left;
            }
        }
        .banner-title-area-col {
            .banner-title-area {
                .h-title {
                    font-size: 24px;
                }
            }
        }
    }
    h2 {
        font-size: 21px;
    }
    #banner_title_contents_section {
        .banner-description-area-col {
            padding-left: 10px;
        }
    }
    .wscube-section {
        .wsCube-list {
            img {
                border: 3px solid #fff;
            }
        }
    }
}

html:lang(ar) {
    @media (max-width: 767px) {
        .join-us-section {
            .text-start {
                text-align: right !important;
            }
        }
    }
}