@import "owl.carousel/dist/assets/owl.carousel.css";
// Banner-Description-started---
#banner_title_contents_section {
    .banner-title-area-col {
        .banner-title-area {
            h1 {
                color: #000;
                font-size: 54px;
                span {
                    background: -webkit-linear-gradient(right, #004e8f 0%, #3889be 50%, #72c6ef 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .banner-btn {
                margin-top: 30px;
                a {
                    button {
                        background: linear-gradient(to left, #004e8f 0%, #3889be 50%, #72c6ef 100%);
                        border: none;
                        padding: 10px 40px;
                        font-family: "Raleway-Medium";
                        font-size: 18px;
                        border-radius: 8px;
                        color: #fff;
                        transition: 0.2s;
                        span {
                            img {
                                transition: 0.2s;
                                // margin-top: -3px;
                            }
                        }
                        &:hover {
                            letter-spacing: 1px;
                            box-shadow: 0px 0px 10px #00000034;
                            img {
                                // padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner-description-area-col {
        padding-left: 50px;
        .banner-description-area {
            p {
                font-size: 20px;
                color: #797979;
                line-height: 36px;
            }
        }
    }
}

// Banner-Description-End---
// Banner-Slider-Started---
#banner_slider_section {
    .banner-slider-rotation {
        background: linear-gradient(to left, #004e8f 0%, #3889be 50%, #72c6ef 100%);
        width: 128px;
        height: 128px;
        border-radius: 100%;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
        top: 0px;
        z-index: 2;
        border: 4px solid #fff;
        transition: 0.2s;
        cursor: pointer;
        p {
            color: #fff;
            font-family: "Raleway-Medium";
        }
        .round-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 43%;
        }
        .round-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4px;
            animation: rotate 7s linear infinite;
        }
        @keyframes rotate {
            from {
                transform: translateY(-50%) rotate(0deg);
            }
            to {
                transform: translateY(-50%) rotate(360deg);
            }
        }
        &:hover {
            box-shadow: 0px 0px 10px #00000034;
        }
    }
    .banner {
        margin-top: 64px;
        .item {
            img {
                object-fit: cover;
            }
        }
    }
}

// Global-Companies-Started---
#our_clients_section {
    background-color: #f0f6fc;
    padding: 60px 0;
    .our-clients-title {
        // margin-bottom: 50px;
        h3 {
            font-size: 32px;
            font-family: "Raleway-SemiBold";
        }
    }
    .our-clients-working-area {
        .working {
            .item {
                img {}
            }
        }
    }
}

// Banner-Slider-End---
// Global-Companies-Started---
#global_compamies_section {
    background-color: #f0f6fc;
    padding: 60px 0;
    .global-companies-working-area {
        .global-companies-title {
            margin-bottom: 50px;
            h3 {
                font-size: 32px;
                font-family: "Raleway-SemiBold";
            }
        }
        .working {
            .item {
                img {}
            }
        }
    }
}

// Global-Companies-End---
// Courses-Section-Start---
#types_of_courses_section {
    .types-of-courses-boxes {
        .types-of-courses-boxes-contents-area-col {
            padding: 20px;
            .types-of-courses-boxes-contents-area {
                .course-image {
                    border-radius: 15px;
                    margin-bottom: 15px;
                    height: 250px;
                    object-fit: cover;
                    width: 100%;
                }
                h3 {
                    margin-bottom: 15px;
                    font-size: 21px;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .content {
                    margin-bottom: 15px;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 84px;
                }
                a {
                    font-family: "Raleway-SemiBold";
                    font-size: 18px;
                    span {
                        img {
                            filter: invert(1) brightness(1);
                        }
                    }
                }
            }
        }
    }
}

// Courses-Section-End---
// Elegent-Training-Section-Start---
#elegant_training_section {
    .elegant-training-contents-area {
        .elegant-training-image-area-col {
            padding-right: 100px;
            .elegant-training-image-area {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .training-main-image {
                    border-radius: 15px;
                    z-index: 4;
                }
                .trainig-square-image {
                    position: absolute;
                    left: 30px;
                    top: -30px;
                }
                .training-triangle-image {
                    position: absolute;
                    right: 50px;
                    bottom: -17px;
                }
                .years-experience {
                    background-color: #0f75bc;
                    padding: 20px;
                    position: absolute;
                    left: 30px;
                    bottom: 40px;
                    text-align: center;
                    z-index: 5;
                    h4 {
                        color: #fff;
                        font-family: "Lexend-SemiBold";
                        font-size: 40px;
                        margin-bottom: 0;
                    }
                    p {
                        font-size: 18px;
                        color: #fff;
                        margin: 0;
                    }
                }
            }
        }
        .elegant-training-description-area-col {
            .elegant-training-description-area {
                .elegant-training-description-bottom {
                    position: relative;
                    padding-left: 85px;
                    h3 {
                        font-size: 22px;
                    }
                    img {
                        position: absolute;
                        left: 0;
                        transform: translateY(-50%);
                        top: 50%;
                    }
                }
            }
        }
    }
}

// Elegent-Training-Section-End---
// Explore-Online-Course-Section-Started---
#explore_online_course_section {
    background-color: #f0f1f2;
    padding: 50px 0px;
    margin: 40px 0px;
    .explore-online-course {
        .explore-online-course-slider-area {
            .explore {
                .item {
                    padding: 15px;
                    border-radius: 15px;
                    background-color: #fff;
                    .explore-image-area {
                        position: relative;
                        .explore-main-image {
                            border-radius: 15px;
                            margin-bottom: 20px;
                            height: 280px;
                            object-fit: cover;
                        }
                        .image-overlay-text {
                            background-color: #0f75bc;
                            padding: 0px 15px;
                            border-radius: 4px;
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            p {
                                color: #fff;
                                margin: 0;
                                font-size: 14px;
                            }
                        }
                    }
                    h3 {
                        font-size: 20px;
                        margin-bottom: 20px;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .explore-slider-bottom-icons {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: "Lexend-Regular";
                        a {
                            display: flex;
                            align-items: center;
                            img {
                                width: auto !important;
                            }
                            span {
                                color: #797979;
                            }
                        }
                    }
                }
                .owl-nav {
                    position: absolute;
                    top: -60px;
                    right: 0px;
                }
                .owl-prev {
                    font-size: 25px;
                    border: 1px solid #443d3d;
                    padding: 15px;
                    border-radius: 5px;
                    width: 40px;
                    margin-right: 5px;
                    transition: 0.2s;
                    &:hover {
                        background-color: #e9e9e9;
                    }
                }
                .owl-next {
                    font-size: 25px;
                    border: 1px solid #443d3d;
                    padding: 15px;
                    border-radius: 5px;
                    width: 40px;
                    margin-left: 5px;
                    transition: 0.2s;
                    background-image: url();
                    &:hover {
                        background-color: #e9e9e9;
                    }
                }
            }
        }
    }
}

// Explore-Online-Course-Section-End---
// Learning-Online-Course-Section-Start---
#online_learning_section {
    padding-bottom: 10px;
    .online-learning-contents-area-col {
        .online-learning-contents-area {
            .online-learning-description {
                margin-bottom: 25px;
                p {
                    b {
                        color: #000;
                    }
                }
                a {
                    font-size: 17px;
                    img {
                        filter: invert(1) brightness(1);
                    }
                }
            }
        }
    }
    .online-learning-image-area-col {
        img {
            border-radius: 20px;
        }
    }
}

// Learning-Online-Course-Section-End---
// Counter-Numbers-Section-Start---
#training_numbers_section {
    padding: 40px 0px;
    margin: 40px 0px;
    background-color: #0f75bc;
    position: relative;
    .number-left {
        position: absolute;
        width: 20%;
        right: 0;
        bottom: 0;
    }
    .number-right {
        position: absolute;
        left: 0;
        top: 0;
        width: 17%;
    }
    .training-numbers-area {
        .training-numbers-title {
            margin-bottom: 30px;
            h3 {
                color: #fff;
                font-size: 28px;
            }
            p {
                color: #fff;
            }
        }
        .training-numbers-area {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .number-content-box {
                padding: 20px 30px;
                text-align: center;
                .count-number {
                    font-size: 45px;
                    font-family: "Lexend-SemiBold";
                    color: #fff;
                }
                p {
                    color: #fff;
                }
            }
            .two-border {
                border-right: 1px solid #e7e7e731;
                border-left: 1px solid #e7e7e731;
            }
            .right-border {
                border-right: 1px solid #e7e7e731;
            }
        }
    }
}

.our-client-items {
    margin-top: 60px;
}

// Counter-Numbers-Section-End---
// Placement-Assistant-Section-Start---
#placement_assistant_section {
    .placement-contents-area {
        margin-bottom: 20px;
        .placement-contents-col {}
        .placement-button-area-col {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
    .placement-image-content-area {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        display: grid;
        .placement-image-content-box {
            border: 1px solid #949494;
            position: relative;
            padding: 20px 20px 20px 80px;
            border-radius: 8px;
            img {
                position: absolute;
                left: 17px;
                top: 50%;
                transform: translateY(-50%);
                width: 45px;
            }
            h3 {
                font-size: 20px;
            }
            p {
                margin: 0;
            }
        }
    }
}

.training-center-section {
    background-color: #EC1C24;
    color: #fff;
    font-size: 18px;
}

// Placement-Assistant-Section-End---
@media (max-width: 1440px) {
    #banner_title_contents_section {
        .banner-title-area-col {
            .banner-title-area {
                h1 {
                    font-size: 42px;
                }
                .banner-btn {
                    a {
                        button {
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
        .banner-description-area-col {
            .banner-description-area {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .trainig-square-image {
        display: none;
    }
    .training-triangle-image {
        display: none;
    }
    #elegant_training_section {
        margin: 0;
        .elegant-training-contents-area {
            .elegant-training-image-area-col {
                padding-right: 50px;
            }
        }
    }
}

@media (max-width: 991px) {
    #training_numbers_section .training-numbers-area .training-numbers-area .number-content-box .count-number {
        font-size: 30px;
    }
    .m-top {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #elegant_training_section {
        .elegant-training-contents-area {
            .elegant-training-image-area-col {
                padding-right: 10px;
                margin-bottom: 20px;
                .elegant-training-image-area {
                    .training-main-image {
                        width: 100%;
                    }
                }
            }
        }
    }
    #placement_assistant_section {
        .placement-image-content-area {
            .placement-image-content-box {
                padding: 10px !important;
                img {
                    position: initial;
                    transform: none;
                    width: 45px;
                    margin-bottom: 10px;
                }
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    #explore_online_course_section {
        .explore-online-course {
            .explore-online-course-slider-area {
                .explore {
                    // .owl-nav {
                    //     top: 50%;
                    //     right: auto;
                    //     left: auto;
                    //     width: 100%;
                    //     span {
                    //         font-weight: bold;
                    //     }
                    // }
                    // .owl-prev {
                    //     width: 30px;
                    //     position: absolute;
                    //     left: 0;
                    //     background: #e3e3e3b0;
                    //     border: none;
                    // }
                    // .owl-next {
                    //     width: 30px;
                    //     position: absolute;
                    //     right: 0;
                    //     background: #e3e3e3b0;
                    //     border: none;
                    // }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .learning-add-image {
        img {
            width: 100%;
        }
    }
    .training-center-section {
        font-size: 14px;
    }
    #banner_title_contents_section {
        .banner-title-area-col {
            .banner-title-area {
                h1 {
                    font-size: 28px;
                }
                .banner-btn {
                    a {
                        button {
                            padding: 5px 15px;
                            font-size: 14px;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
        .banner-description-area-col {
            padding-left: 10px;
            padding-top: 15px;
        }
    }
    #training_numbers_section {
        .training-numbers-area {
            .training-numbers-area {
                grid-template-columns: repeat(2, 1fr);
                .number-content-box {
                    padding: 0;
                    .count-number {
                        font-size: 24px;
                    }
                }
                .two-border {
                    border: none;
                }
                .right-border {
                    border: none;
                }
            }
        }
    }
    #global_compamies_section {
        padding: 30px 0;
        .global-companies-working-area {
            .global-companies-title {
                h3 {
                    font-size: 21px;
                }
            }
        }
    }
    #our_clients_section {
        padding: 30px 0;
        .our-clients-working-area {
            .our-clients-title {
                h3 {
                    font-size: 21px;
                }
            }
        }
    }
    #types_of_courses_section {
        .types-of-courses-boxes {
            .types-of-courses-boxes-contents-area-col {
                .types-of-courses-boxes-contents-area {
                    h3 {
                        font-size: 18px;
                    }
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .elegant-training-contents-area-button {
        button {
            padding: 7px 20px;
            font-size: 14px;
        }
    }
    #placement_assistant_section {
        .placement-image-content-area {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
    }
    .elegant-training-contents-area-button {
        margin-top: 0;
    }
    #types_of_courses_section {
        .section-title {
            margin-bottom: 0;
        }
    }
    #explore_online_course_section {
        .explore-online-course {
            .explore-online-course-slider-area {
                .explore {
                    .item {
                        h3 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    #training_numbers_section {
        padding: 30px 0px;
    }
}

html:lang(ar) {
    #banner_title_contents_section {
        .banner-title-area-col {
            .banner-title-area {
                .banner-btn {
                    a {
                        button {
                            span {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #types_of_courses_section {
        .types-of-courses-boxes {
            .types-of-courses-boxes-contents-area-col {
                .types-of-courses-boxes-contents-area {
                    a {
                        span {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
    #elegant_training_section {
        .elegant-training-contents-area {
            .elegant-training-description-area-col {
                .elegant-training-description-area {
                    .elegant-training-description-bottom {
                        padding-left: initial;
                        padding-right: 85px;
                        img {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    #explore_online_course_section {
        .explore-online-course {
            .explore-online-course-slider-area {
                .explore {
                    .item {
                        h3 {
                            text-align: right;
                        }
                        .explore-slider-bottom-icons {
                            direction: rtl;
                        }
                        .explore-image-area {
                            .image-overlay-text {
                                right: auto;
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    #online_learning_section {
        .online-learning-contents-area-col {
            .online-learning-contents-area {
                .online-learning-description {
                    a {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    #testimonial_section {
        .explore-online-course {
            .explore-online-course-slider-area {
                .testimonial {
                    .item {
                        text-align: right;
                    }
                }
            }
        }
    }
    #training_numbers_section {
        .training-numbers-area {
            .training-numbers-area {
                .right-border {
                    border-left: 1px solid rgba(231, 231, 231, 0.1921568627);
                }
            }
        }
    }
    #placement_assistant_section {
        .placement-image-content-area {
            .placement-image-content-box {
                padding: 20px 80px 20px 20px;
                img {
                    left: auto;
                    right: 17px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        #training_numbers_section .training-numbers-area .training-numbers-area .right-border {
            border: none;
        }
        #explore_online_course_section .explore-online-course .explore-online-course-slider-area .explore .owl-nav {
            left: 0;
            right: auto;
        }
    }
}