@import "owl.carousel/dist/assets/owl.carousel.css";
.blog-sidebar {
    .guidance-list {
        min-height: 135px;
        padding-left: 160px;
        img {
            position: absolute;
            left: 0;
            width: 150px;
            height: 120px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .popular-container {
        .popular-list {
            min-height: 135px;
            padding-left: 160px;
            img {
                position: absolute;
                left: 0;
                width: 150px;
                height: 120px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
    ul {
        li {
            list-style-type: none;
            a {
                color: #797979;
                font-size: 16px;
                padding: 10px 0px;
                display: inline-block;
            }
        }
    }
}

.table-of-contents {
    background-color: #f1f7fc;
    color: #909192;
    padding: 15px;
    width: 65%;
    border-radius: 10px;
}

.table-of-contents h3 {
    color: #161716;
}

.start-quiz-container {
    background: #FFFFFF;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    a.btn.start-quiz-btn {
        background: #EB2125;
        color: #fff;
    }
    h3 {
        font-size: 15px;
    }
    .line-contr {
        background: #EFEFEF;
        height: 1px;
    }
}