.questian-container {
    background: #F8F9F9;
    h4 {
        color: #4F4F4F;
    }
}

.answer-container {
    background: #F8F9F9;
    .answer-list {
        border: 1px solid #797979;
        padding: 20px 10px;
        margin: 10px 0px;
        padding-left: 45px;
        color: #4F4F4F;
        cursor: pointer;
        transition: 0.5s;
        span {
            background: #EAF1F6;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            position: absolute;
            left: 10px;
            text-align: center;
            top: 16px;
            padding-top: 3px;
            color: #000 !important;
        }
    }
    .selected {
        background-color: #D4E4D3 !important;
        span {
            background-color: #227C19;
            color: #fff !important;
        }
    }
}

.style-btn {
    background-color: #0f75bc !important;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
        background-color: #0963a3 !important;
        color: #fff;
    }
}

.number-container {
    background-color: #F8F9F9;
    .number {
        background: #EAF1F7;
        color: #0F75BC;
        font-weight: 600;
        font-size: 18px;
        width: 45px;
        border-radius: 5px;
        height: 45px;
        display: inline-block;
        line-height: 45px;
        margin: 5px 3px;
        &:hover {
            background-color: #0F75BC;
            color: #fff;
        }
    }
    .active {
        background-color: #0F75BC;
        color: #fff;
    }
}

.style-btn {
    background-color: #0f75bc !important;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
        background-color: #0963a3 !important;
        color: #fff;
    }
}

html:lang(ar) {
    .btn-style {
        svg {
            transform: rotate(-180deg);
        }
    }
    .answer-container {
        .answer-list {
            padding-left: 10px;
            padding-right: 45px;
            span {
                left: auto;
                right: 10px;
            }
        }
    }
    .question-number {
        .float-end {
            float: left !important;
        }
    }
}